<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Novo Aluno</title>
</head>
<body>
    <h1>Adicionar Aluno Manualmente</h1>

    <div th:if="${erro}" style="color: red;" th:text="${erro}"></div>

    <form th:action="@{/aluno/novo}" th:object="${alunoDTO}" method="post">
        
        <div>
            <label>Nome Completo *</label>
            <input type="text" th:field="*{nomeCompleto}">
            <span th:if="${#fields.hasErrors('nomeCompleto')}" th:errors="*{nomeCompleto}" style="color: red;"></span>
        </div>

        <div>
            <label>E-mail *</label>
            <input type="email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></span>
        </div>

        <div>
            <label>Nome de Usuário *</label>
            <input type="text" th:field="*{nomeUsuario}">
            <span th:if="${#fields.hasErrors('nomeUsuario')}" th:errors="*{nomeUsuario}" style="color: red;"></span>
        </div>

        <div>
            <label>Senha Provisória *</label>
            <input type="password" th:field="*{senha}">
            <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" style="color: red;"></span>
        </div>

        <button type="submit">Cadastrar Aluno</button>
        <a th:href="@{/painel}">Voltar</a>
    </form>
</body>
</html>